<!DOCTYPE html>
    <html>
    <head>
        <title>Upload a media | Netflux</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> 
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Netflux</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/user-management">Manage Users</a></li>
                            <li><a href="/upload">Upload a video</a></li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                                <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
        </nav>
        <div class="container-fluid">
                <h2 class="text-center">Upload your video !</h2>
                <hr class="separator">
                <div class="form-wrap col-sm-4 col-md-10 col-md-offset-3">
                    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="/upload">
                            <div class="form-group">
                                <label for="title" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="title" id="title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="author" class="col-sm-2 control-label">Author</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="author" id="author">
                                </div>
                            </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-4">
                                <select name="category" id="category">
                                    <%
                                        for ( var i = 0; i < results.length; i++ ) {
                                            var selected = ( 0 == i ) ? "selected" : "";
                                            %><option value="<%=results[ i ].id_category %>" <%=selected %>><%=results[ i ].category %></option><%
                                        }
                                        %>
                                    %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="thumbnail" class="col-sm-2 control-label">Thumbnail</label>
                            <div class="col-sm-4">
                                <input type="file" name="thumbnail" id="thumbnail" accept=".jpg, .png, .jpeg">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="col-sm-2 control-label">Video</label>
                            <div class="col-sm-4">
                                <input type="file" name="video" id="video" accept=".mp4">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button type="submit" class="btn btn-primary">Go!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </body>
</html>
